target
**/*.iml
.idea
**/__pycache__
**/*.pyc
.cache
out/
build/
.gradle/
.DS_Store
/.vs
/csharp/_NCrunch_SupermarketReceipt
**/*.ncrunchsolution
**/*.ncrunchsolution.user
**/*.ncrunchproject
**/*.ncrunchproject.user
